/* ----------------------------------------------------------------------------
*
*                                   CONTENT
* GENERIC
* COMPONENTS
*   #LANDING PAGE..........................
*   #WHO WE ARE............................
*   #WHY-ERP-SUCKS.........................
*   #SIGNUP................................
*
------------------------------------------------------------------------------- */


/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-right: 15px;
  padding-left: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: 100;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.brand-divider {
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.02));
    border-bottom: solid 1px rgba(0,0,0,0.06);
    height: 10px;
    top: -10px;
    margin-bottom: 50px;
    position: relative;
}

.text-muted {
    color:rgba(255,255,255,0.5);
}

section {
    position:relative;
}

div .section {
    position:relative;
}
div .front {
    z-index: 2;
}

div .front img {
    height: auto;
    width: 100%;
}

div .back {
    background-size: cover;
    background-position: 50% 100%;
    z-index: 1;
}
div .nopad {
  padding:0 !important;
}



/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 100;
  line-height: 1;
  letter-spacing: -1px;
}

.dark-divider {
  margin-top: 30px;
  margin-bottom: 30px;
  border: 0;
  border-top: 3px solid rgba(0,0,0,.1);
}

/* RESPONSIVE CSS
-------------------------------------------------- */

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-right: 0;
    padding-left: 0;
  }


  .featurette-heading {
    font-size: 50px;
  }

  /* Make Navigation Toggle on Desktop Hover */
    .dropdown:hover .dropdown-menu {
      display: block;
      cursor: pointer;
  }
}

.sidenav {
    position: absolute;
    right: 0;
    width:100px;
}

* {
    -webkit-transition: all 0.25s ease;
    -moz-transition:    all 0.25s ease;
    -ms-transition:     all 0.25s ease;
    -o-transition:      all 0.25s ease;
    transition:         all 0.25s ease;
}

body {
    padding-top: 50px;
}



.clearfix {
    clear:both;
}

p {
    font-weight:200;
}


.container {
    position:relative;
}

.is-justified {
    text-align: justify;
}

.alert-success {
  background-color: #FAFEFF;
}


.jumbotron {
  text-align: center;
  background-color: transparent;
}

.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

#about .jumbotron {
    padding: 30px 0;
    padding-bottom: 0;
}

#about .jumbotron .btn {
  padding: 20px 30px;
  font-size: 21px;
}

.alert-message {
  position: fixed;
  top: 12px !important;
  left: 0;
  right: 0;
  z-index: 700;
}



.fill {
    min-height: 100%;
    height: 100%;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.overlap {
  position: relative;
  z-index: 0;
  width: 800px;
  margin: auto;
}

.center {
    text-align:center;
    width:100%;
    padding-top:40%;
}


#search {
    margin-left: -30px;
}

#notification-div {
    display:none;
    height:200px;
    background-color:white;
    cursor:pointer;
}


/* ----------------------------------------------------------------------------

                                  #WHY-ERP-SUCKS

------------------------------------------------------------------------------- */

/* Example media queries */

@media screen and (max-width: 73.5em) {
    .cbp-so-scroller {
        font-size: 65%;
    }

    .cbp-so-section h2 {
        margin: 0;
    }

    .cbp-so-side img {
        max-width: 120%;
    }
}

@media screen and (max-width: 41.125em) {
    .cbp-so-side {
        float: none;
        width: 100%;
    }

    .cbp-so-side img {
        max-width: 100%;
    }
}



/* ----------------------------------------------------------------------------

                                    #NEWSROOM

------------------------------------------------------------------------------- */



input[type="checkbox"].checkbox {
    display: inline;
    margin-right: 5px;
}
input[type="checkbox"].checkbox + label {
    display: inline;
    position: relative;
    text-align: left;
}

.form-a input:invalid {
    box-shadow: none; /* removes red shadow in FF*/
}

.form-a input {
    border-bottom-color: transparent;
    color: rgba(0,0,0,0.5);
}




input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

.control-group input:focus,
button.fm button:focus {
    outline: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
}


.faq-icon {
  text-transform: none;
  line-height: 1;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  right: 65px;
  top: 50px;
}


.linkRow {
    margin:30px;
}

.linkRow a {
  font-size: 26pt;
}

section .link-braces {
  position: relative;
  z-index: 1; /* needed for setting pseudo-element z-index */
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

section .link-braces a {
  position: relative;
  display: inline-block;
  outline: none;
  vertical-align: bottom;
  text-decoration: none;
  white-space: nowrap;
}

section .link-braces a::before,
section .link-braces a::after {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/* Text scale */
.link-braces a {
  padding: 0 0.25em;
  font-weight: 500;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.link-braces a::before,
.link-braces a::after {
  position: absolute;
  top: 0;
  font-weight: 100;
  font-size: 150%;
  line-height: 0.8;
  opacity: 0;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, transform 0.2s;
}

.link-braces a::before {
  left: -0.1em;
  content: '[';
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.link-braces a::after {
  right: -0.1em;
  content: ']';
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.link-braces a:hover::before,
.link-braces a:hover::after {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}


.pulseText p {
    font-weight: 700;
    font-size: 22pt;
    margin: 20px;
    opacity: 0.5;
}

.pulseText img{
 -webkit-animation: color_change 1.4s infinite alternate;
 -moz-animation: color_change 1.4s infinite alternate;
 -ms-animation: color_change 1.4s infinite alternate;
 -o-animation: color_change 1.4s infinite alternate;
 animation: color_change 1.4s infinite alternate;
   cursor: pointer;
   margin-bottom: 10px;
}

@-webkit-keyframes color_change {
 from { opacity: 0.3; }
 to { opacity: 0.5; }
}
@-moz-keyframes color_change {
 from { opacity: 0.3; }
 to { opacity: 0.5; }
}
@-ms-keyframes color_change {
 from { opacity: 0.3; }
 to { opacity: 0.5; }
}
@-o-keyframes color_change {
 from { opacity: 0.3; }
 to { opacity: 0.5; }
}
@keyframes color_change {
 from { opacity: 0.3; }
 to { opacity: 0.5; }
}

