@import url('styles-blessed1.css?z=1445352047501');
#angryERP {
    vertical-align: middle;
    display: table-cell
}
#section3 {
    background-color: #FFE189
}
#section4 {
    color: white;
    padding-top: 50px;
    background-color: #1abc9c
}
#section5 {
    color: white;
    padding-bottom: 35px;
    background-color: #f2b0a3
}
#section6 {
    background-color: #5388FF;
    color: white
}
#section7 {
    color: white;
    background-color: #4bbc95
}
#section8 {
    background-color: #FE7564
}
body#reinvent {
    font-weight: 100;
    margin-top: 50px
}
body#reinvent .jumbotron {
    background-color: transparent
}
body#reinvent .jumbotron h2 {
    font-size: 2.5rem;
    font-weight: 300;
    margin: 0 0 15px 0;
    text-align: center
}
body#reinvent .overlay-open {
    overflow: hidden;
    padding-top: 80px;
    margin-right: 15px
}
.paragon-intro {
    height: 80px;
    padding-top: 8px;
    background-color: #fff;
    z-index: 550;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4)
}
.paragon-intro h1 {
    font-weight: 200;
    letter-spacing: 1.2px;
    font-size: 2.5rem
}
div.solutions {
    height: 100%
}
div.solutions p {
    text-align: center
}
div.solutions a {
    text-decoration: none;
    font-weight: 700
}
div.solutions .footer p,
div.solutions .footer-end p,
div.solutions .footer-sticky p,
div.solutions .footer-odd p {
    text-align: left
}
div.solutions .footer a,
div.solutions .footer-end a,
div.solutions .footer-sticky a,
div.solutions .footer-odd a {
    font-weight: inherit;
    color: white
}
div.solutions .footer a.disabled,
div.solutions .footer-end a.disabled,
div.solutions .footer-sticky a.disabled,
div.solutions .footer-odd a.disabled {
    color: inherit
}
.bl-main {
    position: absolute;
    width: 100%;
    height: 85%
}
.bl-main section {
    position: absolute;
    width: 50%;
    height: 50%
}
#solution1 {
    background: #5388FF
}
#solution2 {
    background: #FFAE4B
}
#solution3 {
    background: #FE7564
}
#solution4 {
    background: #89E596
}
.bl-main>section:first-child {
    top: 0;
    left: 0
}
.bl-main>section:nth-child(2) {
    top: 0;
    left: 50%
}
.bl-main>section:nth-child(3) {
    top: 50%;
    left: 0
}
.bl-main>section:nth-child(4) {
    top: 50%;
    left: 50%
}
.bl-box {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}
.bl-box h2 {
    text-align: center;
    margin: 0;
    padding: 20px;
    width: 100%;
    font-size: 1.6rem;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase
}
.bl-icon {
    text-transform: none;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    -webkit-font-smoothing: antialiased
}
.bl-icon:before {
    display: block;
    font-size: 1.5rem;
    margin-bottom: 10px
}
.bl-icon-1-ux:before {
    content: url("/images/icons/1-good-ux.png")
}
.bl-icon-2-customize:before {
    content: url("/images/icons/2-customize.png")
}
.bl-icon-3-implement:before {
    content: url("/images/icons/3-implement.png")
}
.bl-icon-4-save:before {
    content: url("/images/icons/4-save.png")
}
.bl-icon-cloud:before {
    content: url("/images/icons/cloud1.png")
}
.bl-icon-close:before {
    content: url("/images/cross-dark.png")
}
.bl-icon-customize:before {
    content: url("/images/icons/customization.png")
}
.bl-icon-install:before {
    content: url("/images/icons/installation.png")
}
.bl-icon-conversion:before {
    content: url("/images/icons/conversions.png")
}
.bl-icon-training:before {
    content: url("/images/icons/training.png")
}
.bl-icon-hardware:before {
    content: url("/images/icons/hardware.png")
}
.bl-icon-software:before {
    content: url("/images/icons/software.png")
}
.bl-icon-services:before {
    content: url("/images/icons/services.png")
}
.bl-icon-validate:before {
    content: url("/images/icons/validation.png")
}
.bl-icon-filter:before {
    content: url("/images/icons/list-filtering.png")
}
.bl-icon-workflow:before {
    content: url("/images/icons/workflow.png")
}
.bl-icon-implement:before {
    content: url("/images/icons/implementations.png")
}
.bl-main>section .bl-icon-close {
    position: absolute;
    top: 1rem;
    right: 20px;
    margin: 15px;
    cursor: pointer;
    z-index: 50;
    opacity: 0;
    pointer-events: none
}
span .bl-icon {
    height: 50px
}
.close-icon {
    cursor: pointer;
    right: 20px;
    height: 50px;
    margin: 15px;
    z-index: 50
}
div.bl-panel-items.bl-panel-items-show nav {
    opacity: 1;
    right: 0;
    top: 150px
}
div.bl-panel-items nav {
    position: fixed;
    z-index: 90;
    width: 70px;
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-in-out 0.5s;
    transition: opacity 0.2s ease-in-out 0.5s
}
.bl-content {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    padding: 60px 20px 20px;
    overflow: hidden;
    overflow-y: auto
}
.bl-content h2 {
    font-size: 2.5em;
    font-weight: 300;
    margin: 0 0 15px 0;
    text-align: center
}
.bl-content>ul {
    list-style: none;
    padding: 0;
    margin: 0
}
.bl-content>ul li {
    display: inline-block;
    margin: 1%
}
.bl-read {
    font-size: 1.2rem;
    font-weight: 300;
    padding-bottom: 15px
}
.bl-read-fr {
    font-size: 1rem
}
.bl-read.smaller {
    font-size: 80%;
    line-height: 2em;
    padding-bottom: 0
}
.panel-content {
    width: 100%
}
.panel-content .jumbotron {
    background-color: transparent
}
div.bl-panel-items>div>div {
    opacity: 0;
    padding: 15px;
    pointer-events: none;
    overflow: hidden;
    overflow-y: auto
}
div.bl-panel-items>[data-panel="panel-1"],
div.bl-panel-items>[data-panel="panel-2"],
div.bl-panel-items>[data-panel="panel-3"] {
    background-color: #8AAEFF
}
div.bl-panel-items>[data-panel="panel-4"],
div.bl-panel-items>[data-panel="panel-5"],
div.bl-panel-items>[data-panel="panel-6"] {
    background-color: #FFCA8A
}
div.bl-panel-items>[data-panel="panel-7"],
div.bl-panel-items>[data-panel="panel-8"],
div.bl-panel-items>[data-panel="panel-9"],
div.bl-panel-items>[data-panel="panel-10"] {
    background-color: #FEB9B0
}
div.bl-panel-items>[data-panel="panel-11"],
div.bl-panel-items>[data-panel="panel-12"],
div.bl-panel-items>[data-panel="panel-13"] {
    background-color: #B8EFC0
}
div.bl-panel-items {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    position: absolute
}
div.bl-panel-items>div {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    position: absolute;
    padding: 30px 20px
}
div.bl-panel-items>div>div {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0 auto;
    opacity: 1;
    pointer-events: auto
}
div.bl-panel-items>div h3 {
    font-size: 2.2em;
    font-weight: 300;
    margin-bottom: 15px;
    text-align: center
}
.panel--definition {
    margin-bottom: 1em
}
.panel--definition p {
    font-size: 1.2em
}
button.panel-btn:nth-child(3) {
    background: #FEB9B0
}
button.panel-btn:hover button.panel-btn:focus {
    background: rgba(0, 0, 0, 0.3);
    color: #fff
}
.snapshot {
    margin: 0 auto;
    text-align: center;
    padding-top: 20px
}
div.bl-panel-items {
    top: 100%;
    z-index: 90
}
div.bl-panel-items>div>div img {
    max-width: 90%
}
div.bl-panel-items>.panel-content {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    z-index: 0;
    opacity: 0
}
div.bl-panel-items.bl-panel-items-show nav {
    opacity: 1
}
div.bl-panel-items>.panel-content.bl-show-work {
    z-index: 80;
    opacity: 1;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out
}
div.bl-panel-items>.panel-content.bl-hide-current-work {
    opacity: 0;
    -webkit-transition: -webkit-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    -webkit-transform: translateY(-100%) scale(0.5);
    -ms-transform: translateY(-100%) scale(0.5);
    transform: translateY(-100%) scale(0.5);
    z-index: 0
}
.bl-main>section {
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out
}
.bl-content .jumbotron {
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 15px;
    background: transparent
}
.bl-main>section.bl-expand {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}
.bl-main>section.bl-expand-top {
    z-index: 50
}
.bl-main>section:first-child.bl-expand {
    background: #5388FF
}
.bl-main>section:nth-child(2).bl-expand {
    background: #FFAE4B
}
.bl-main>section:nth-child(3).bl-expand {
    background: #FE7564
}
.bl-main>section:nth-child(4).bl-expand {
    background: #89E596
}
.bl-main.bl-expand-item>section:not(.bl-expand),
.bl-main.bl-expand-item>section.bl-scale-down {
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0
}
.bl-box {
    -webkit-transition: opacity 0.2s linear 0.5s;
    transition: opacity 0.2s linear 0.5s
}
section.bl-expand .bl-box {
    opacity: 0;
    -webkit-transition: opacity 0s linear;
    transition: opacity 0s linear
}
.bl-box h2 {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out
}
.no-touch section:not(.bl-expand) .bl-box:hover h2 {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px)
}
.bl-content,
.bl-icon-close {
    -webkit-transition: opacity 0.1s linear 0s;
    transition: opacity 0.1s linear 0s
}
section.bl-expand .bl-content,
section.bl-expand .bl-icon-close {
    pointer-events: auto;
    opacity: 1;
    -webkit-transition: opacity 0.3s linear 0.5s;
    transition: opacity 0.3s linear 0.5s
}
#erpSucks h1 {
    font-weight: 600;
    padding-bottom: 0.2em;
    position: center
}
.top-panel {
    bottom: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-position: center center;
    background-size: contain;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: 3
}
#video-background {
    display: none
}
.red-bg {
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2
}
.cbp-so-section h2 {
    font-weight: 200
}
.cbp-so-section p {
    letter-spacing: 0.01em
}
#fix1 h2 {
    color: #5388FF
}
#fix2 h2 {
    color: #FFAE4B
}
#fix3 h2 {
    color: #FE7564
}
#fix4 h2 {
    color: #89E596
}
div.scrollme {
    position: fixed;
    z-index: 10;
    bottom: 100px
}
.cbp-so-side {
    width: 50%;
    float: left;
    padding: 3em 4%;
    min-height: 12em;
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s
}
.cbp-so-side:before {
    content: " ";
    display: table
}
.cbp-so-side:after {
    content: " ";
    display: table;
    clear: both
}
.cbp-so-side-right {
    text-align: left
}
.cbp-so-side-left {
    text-align: right
}
.cbp-so-side-right img {
    float: left
}
.cbp-so-side-left img {
    float: right
}
.cbp-so-init .cbp-so-side {
    opacity: 0
}
.cbp-so-init .cbp-so-side-left {
    -webkit-transform: translateX(-80px);
    -ms-transform: translateX(-80px);
    transform: translateX(-80px)
}
.cbp-so-init .cbp-so-side-right {
    -webkit-transform: translateX(80px);
    -ms-transform: translateX(80px);
    transform: translateX(80px)
}
.cbp-so-section.cbp-so-animate .cbp-so-side-left,
.cbp-so-section.cbp-so-animate .cbp-so-side-right {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1
}
.announcements {
    background-color: #FE7564
}
.blog {
    background-color: #5388FF
}
.press {
    background-color: #89E596
}
.social {
    background-color: #FFAE4B
}
body#newsroom {
    background-color: #e5e5e5
}
body#newsroom h1 {
    margin: 60px 15px 30px
}
.news-area {
    padding-bottom: 20px
}
.news-panel {
    position: relative;
    min-height: 220px;
    vertical-align: top;
    border-radius: 4px;
    border: 1px solid #d8d8d8;
    font-family: 'Roboto', sans-serif
}
.news-panel>.panel-heading {
    background-color: #fff;
    border-width: 0px;
    margin-top: 20px;
    padding-bottom: 5px;
    min-height: 92px
}
.news-panel>.panel-heading img {
    margin-right: 15px;
    width: 64px;
    height: 64px
}
.news-panel>.panel-heading h3 {
    margin: 5px 5px 0;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.3
}
.news-panel>.panel-heading h3 a {
    color: #2c3e50
}
.news-panel>.panel-heading h5 {
    color: #999999;
    font-size: 12px;
    font-weight: 400
}
.panel-body {
    padding-top: 10px;
    font-size: 14px;
    line-height: 1.4;
    min-height: 65px
}
.panel-body a {
    color: #2c3e50
}
.panel-footer {
    font-size: 14px;
    font-weight: 700;
    min-height: 50px;
    background-color: white;
    padding: 10px
}
.source--blog,
.source--announcements,
.source--press,
.source--social {
    right: 0px;
    font-size: 12px;
    position: absolute;
    right: -3px;
    padding-right: 20px
}
.source--blog a,
.source--announcements a,
.source--press a,
.source--social a {
    width: auto;
    cursor: pointer;
    margin-left: auto
}
.source--blog:hover,
.source--announcements:hover,
.source--press:hover,
.source--social:hover {
    color: #fff;
    box-shadow: 0px 0px 3px black;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25)
}
.source--blog:after,
.source--announcements:after,
.source--press:after,
.source--social:after {
    content: "";
    position: absolute;
    top: -10px;
    right: 0px;
    height: 50px;
    border-left: 3px solid
}
.source--announcements {
    color: #FE7564
}
.source--announcements:after {
    border-right-color: #FE7564
}
.source--announcements a {
    color: #FE7564
}
.source--announcements:hover {
    background-color: #FE7564
}
.source--blog {
    color: #5388FF
}
.source--blog:after {
    border-right-color: #5388FF
}
.source--blog a {
    color: #5388FF
}
.source--blog:hover {
    background-color: #5388FF
}
.source--press {
    color: #89E596
}
.source--press:after {
    border-right-color: #89E596
}
.source--press a {
    color: #89E596
}
.source--press:hover {
    background-color: #89E596
}
.source--social {
    color: #FFAE4B
}
.source--social:after {
    border-right-color: #FFAE4B
}
.source--social a {
    color: #FFAE4B
}
.source--social:hover {
    background-color: #FFAE4B
}
.login {
    height: 100%;
    background-color: #8AAEFF
}
.form-signin {
    max-width: 330px;
    padding: 150px 15px;
    margin: 0 auto
}
.form-signin h3 {
    font-size: 16pt;
    margin-bottom: 10px
}
.form-signin .checkbox {
    font-weight: normal
}
.form-signin .checkbox input[type="checkbox"] {
    position: relative
}
.form-signin label {
    color: #2c3e50;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12pt;
    letter-spacing: 1.2px
}
.form-signin a {
    color: #D85371;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 10pt;
    letter-spacing: 1.2px
}
.form-signin a:hover {
    opacity: 0.5
}
.form-signin a:focus {
    outline: none
}
.form-signin .form-control {
    position: relative;
    height: auto;
    padding: 12px 38px 8px;
    font-size: 16px;
    border: 1px solid #C4D6FF
}
.form-signin .form-control::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.2);
    font-weight: 600;
    letter-spacing: 1px
}
.form-signin .form-control:-moz-placeholder {
    color: rgba(0, 0, 0, 0.2);
    font-weight: 600;
    letter-spacing: 1px
}
.form-signin .form-control::-moz-placeholder {
    color: rgba(0, 0, 0, 0.2);
    font-weight: 600;
    letter-spacing: 1px
}
.form-signin .form-control:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.2);
    font-weight: 600;
    letter-spacing: 1px
}
.form-signin .form-control:focus::-webkit-input-placeholder {
    color: transparent
}
.form-signin .form-control:focus:-moz-placeholder {
    color: transparent
}
.form-signin .form-control:focus::-moz-placeholder {
    color: transparent
}
.form-signin .form-control:focus:-ms-input-placeholder {
    color: transparent
}
.form-signin .form-control:focus {
    z-index: 2
}
.form-control:focus {
    color: #2c3e50;
    outline: none
}
.form-signin input {
    margin-bottom: 15px;
    background: #C4D6FF;
    background: rgba(255, 255, 255, 0.7);
    border: none;
    color: #2c3e50
}
#requestButton {
    z-index: 30;
    cursor: pointer
}
#requestForm #request {
    cursor: pointer
}
input:focus {
    outline: none
}
.signup-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    overflow: hidden
}
.fs-title h1 {
    display: block;
    font-size: 32px;
    font-weight: 700;
    padding: 25px 0
}
.intro {
    -webkit-flex: 1 auto;
    -webkit-box-flex: 1;
    -ms-flex: 1 auto;
    flex: 1 auto;
    z-index: 20;
    cursor: pointer;
    padding: 1.5em 35px 0;
    text-align: center
}
.intro img {
    margin-top: 3rem
}
.intro p {
    text-align: justify
}
h2.heading {
    display: block;
    font-size: 2rem;
    font-weight: 100;
    margin-top: 15px
}
h2.heading-fr {
    font-size: 1.8rem;
    font-weight: 100;
    margin-top: 10px
}
#intro_beta {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
    background: #B8EFC0
}
#intro_career {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
    background: #8AAEFF
}
#intro_partner {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
    background: #FFCA8A
}
#faq-beta {
    background: #B8EFC0;
    opacity: 1
}
#faq-careers {
    background: #8AAEFF;
    opacity: 1
}
#faq-partner {
    background: #FFCA8A;
    opacity: 1
}
.faq-text-fr {
    margin: 40px;
    margin-top: 60px;
    padding: 40px 30px
}
.faq-text-fr h1 {
    display: inline-block;
    white-space: nowrap;
    font-weight: 600;
    font-size: 46px;
    margin-bottom: 30px;
    color: #2c3e50
}
.faq-text-fr h4 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 12pt;
    margin-top: 0;
    color: #2c3e50;
    margin-bottom: 2px;
    line-height: 1.2
}
.faq-text-fr hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-width: 2px
}
.faq-text-fr p {
    font-size: 18px;
    line-height: 1.4;
    color: #2c3e50
}
.faq-text-fr section {
    margin: 10px 0 40px 0;
    padding: 0 60px 0 10px
}
.faq-text {
    margin: 40px;
    margin-top: 60px;
    padding: 40px 30px
}
.faq-text h1 {
    display: inline-block;
    white-space: nowrap;
    font-weight: 600;
    font-size: 46px;
    margin-bottom: 30px;
    color: #2c3e50
}
.faq-text h4 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 12pt;
    margin-top: 0;
    color: #2c3e50;
    margin-bottom: 2px;
    line-height: 1.2
}
.faq-text hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-width: 2px
}
.faq-text p {
    font-size: 18px;
    line-height: 1.4;
    color: #2c3e50
}
.faq-text section {
    margin: 10px 60px 40px 0;
    padding: 0 20px 0 10px
}
@media (max-width: 767px) {
    .signup-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-box-align: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start
    }
    .intro {
        -webkit-flex: 1 100%;
        -webkit-box-flex: 1;
        -ms-flex: 1 100%;
        flex: 1 100%;
        z-index: 20;
        cursor: pointer;
        padding: 1.5em 35px 0;
        text-align: center
    }
    .intro img {
        margin-top: 3rem
    }
    .intro p {
        text-align: justify
    }
    .intro-content {
        padding: 0;
        visibility: visible;
        -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transition: -webkit-transform .4s ease-in-out;
        transition: transform .4s ease-in-out
    }
    .intro-text {
        visibility: hidden;
        -webkit-transform: translateX(200%);
        -ms-transform: translateX(200%);
        transform: translateX(200%);
        -webkit-transition: -webkit-transform .4s ease-in-out, visibility 0 .4s;
        transition: transform .4s ease-in-out, visibility 0 .4s
    }
    .intro-text p {
        line-height: 1.5rem
    }
    .swap {
        -webkit-transition: 0.6s;
        transition: 0.6s;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        position: relative
    }
    .intro-text.intro-open {
        visibility: visible;
        background-color: inherit;
        -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transition: -webkit-transform .4s ease-in-out;
        transition: transform .4s ease-in-out
    }
    .intro-text.intro-open .profile {
        visibility: hidden;
        -webkit-transition: -webkit-transform .4s ease-in-out, visibility 0 .4s;
        transition: transform .4s ease-in-out, visibility 0 .4s;
        -webkit-transform: translateX(-200%);
        -ms-transform: translateX(-200%);
        transform: translateX(-200%)
    }
    .profile img {
        margin-top: 15px
    }
}
body#partners {
    overflow: hidden;
    padding-top: 70px
}
.partner-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
    height: 100%
}
.var-section {
    height: 45%;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    width: 31%;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1 0 auto;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    padding: 20px 30px 10px
}
#partner-intro {
    height: 55%;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-flex: none;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch
}
#partner-intro h1 {
    font-size: 2.8rem;
    text-align: center;
    margin-top: 1rem
}
#partner-intro .heading {
    text-align: center;
    letter-spacing: 1px
}
#partner-intro hr {
    margin-top: 20px
}
#partner-intro p {
    text-align: justify;
    padding-right: 10px;
    padding-left: 10px
}
.partner-text {
    font-size: 75%
}
@media screen and (min-width: 40em) {
    .partner-text {
        font-size: 87.5%
    }
}
@media screen and (min-width: 50em) {
    .partner-text {
        font-size: 93.75%
    }
}
@media screen and (min-width: 64em) {
    .partner-text {
        font-size: 106.25%
    }
}
@media screen and (min-width: 100em) {
    .partner-text {
        font-size: 118.75%
    }
}
.smaller {
    height: 70%
}
#var-paragon_mini {
    background: #B8EFC0;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2
}
#var-hoops_mini {
    background: #8AAEFF;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3
}
#var-money_mini {
    background: #FFCA8A;
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
    -ms-flex-order: 4;
    order: 4
}
#var-paragon {
    background: #B8EFC0;
    opacity: 1
}
#var-hoops {
    background: #8AAEFF;
    opacity: 1
}
#var-money {
    background: #FFCA8A;
    opacity: 1
}
.topic {
    padding-top: 30px;
    text-align: center;
    cursor: pointer
}
.topic h3 {
    margin: 0 auto;
    padding-top: 15px;
    font-weight: 100;
    font-size: 1.5rem
}
.var-info {
    margin-top: 60px;
    padding: 40px 0
}
.var-text {
    text-align: center;
    margin: 30px
}
.var-text p {
    padding-bottom: 15px;
    font-size: 1.6rem;
    line-height: 3rem;
    text-align: center
}
.var-text h2 {
    font-size: 2.5rem;
    line-height: 4rem;
    font-weight: 300;
    margin: 10px 0;
    font-weight: 400
}
.var-open {
    bottom: 0;
    opacity: 1
}
.lt-ie9 main,
.lt-ie9 nav,
.lt-ie9 footer {
    display: block
}
.lt-ie10 #partner-intro {
    padding-top: 30px
}
.lt-ie10 .var-section {
    display: inline-block;
    float: left;
    box-sizing: border-box;
    padding: 20px 30px 10px;
    position: relative
}
@media (min-width: 1200px) {
    .nav li a {
        position: relative;
        display: block;
        padding: 15px 24px;
        font-weight: 200;
        font-size: 16px;
        letter-spacing: 0.5px
    }
    .nav-fr li a {
        position: relative;
        display: block;
        padding: 15px 20px;
        font-weight: 200;
        font-size: 16px;
        letter-spacing: 0.5px
    }
    body#reinvent {
        overflow: hidden
    }
    .container>.navbar-header,
    .container>.navbar-collapse,
    .container-fluid>.navbar-header,
    .container-fluid>.navbar-collapse {
        margin-right: -15px;
        margin-left: -15px
    }
    .snapshot {
        position: relative;
        margin-top: 3em
    }
    .panel--definition {
        margin-bottom: 0
    }
    .profile img {
        padding-top: 0;
        margin-top: 2em
    }
}
@media (max-width: 1200px) {
    .intro-content {
        padding: 5% 0 0
    }
    .intro-content h2 {
        font-size: 24pt
    }
    .intro-content .profile img {
        padding-top: 0;
        margin-top: 2em
    }
    .intro-text p {
        line-height: 1.5rem
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    .marketing {
        padding-right: 0;
        padding-left: 0
    }
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4
    }
    .featurette-heading {
        font-size: 50px
    }
    .overlay-inner {
        margin-left: auto;
        margin-right: auto
    }
    .intro-content .profile {
        padding-top: 0
    }
    .intro-content h2 {
        font-size: 24pt
    }
    button.signup-faq,
    button.form-submit,
    button.signup-now {
        border: none;
        background: none;
        padding: 10px 20px;
        border: 3px solid rgba(0, 0, 0, 0.3);
        border-radius: 40px;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.3);
        white-space: nowrap
    }
}
@media (max-width: 767px) {
    .var-text p {
        text-align: left
    }
    .form-q {
        font-size: 20px
    }
    .fp-slidesContainer {
        margin-left: 20px;
        padding-left: 30px
    }
    .bl-content,
    .bl-box {
        font-size: 70%
    }
    .bl-expand .bl-box {
        height: 130px
    }
    .bl-content>ul li {
        width: 40%
    }
    .navbar-nav .open .dropdown-menu>li>a {
        line-height: 20px;
        padding-left: 40px
    }
    .nav>li>a {
        position: relative;
        display: block;
        padding: 5px 30px
    }
}
@media (max-width: 480px) {
    body#partners {
        overflow-y: visible;
        padding-top: 60px
    }
    .partner-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-box-align: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        overflow: auto
    }
    body#partners h2.heading {
        display: block;
        font-size: 1.7rem;
        font-weight: 100;
        margin-top: 15px;
        line-height: 2.3rem;
        letter-spacing: -1px
    }
    #partner-intro {
        height: auto
    }
    .var-section {
        height: auto;
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        width: 100%;
        -webkit-flex: 1 0 auto;
        -ms-flex: 1;
        -webkit-box-flex: 1;
        flex: 1 0 auto;
        -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
        align-self: stretch;
        padding: 20px 30px 10px
    }
    .footer-flex {
        bottom: 0;
        top: 215%
    }
    .topic img {
        width: 60px;
        height: 60px
    }
    .var-text p {
        text-align: left
    }
    .var-text h2 {
        text-align: left
    }
    .footer-end {
        line-height: initial;
        bottom: 1px
    }
    .meta {
        padding: 0 0 25px 0
    }
}
