// // reinventing-erp Page Styles safe copy from attemppted redesign
body#reinvent {
  font-weight: 100;
  margin-top: 50px;
  .jumbotron {
    background-color: transparent;
    h2 {
      font-size: 2.5rem;
      font-weight: 300;
      margin: 0 0 15px 0;
      text-align: center;
    }
  }
  .overlay-open {
    overflow: hidden;
    padding-top: 80px;
    margin-right: 15px;
  }
}


#solution-menu li.active a:hover{
  color: #000;
}

#solution-menu li a,
#solution-menu li.active a{
  padding: 7px;
  display: block;
  text-align: center;
}

#solution-menu li.active a{
  color: $text-color;
  background: transparent;
}

#solution-menu {
  position:fixed;
  top: 70px;
  left: 25px;
  height: 40px;
  z-index: 70;
  width: 100%;
  padding: 0;
  margin:0;
  li {
    display:inline-block;
    width: 23%;
    // margin: 5px;
    color: #000;
    background:#fff;
    background: rgba(255,255,255, 0.5);
    -webkit-border-radius: 10px;
    border-radius: 10px;
    &:hover{
      background: rgba(255,255,255, 0.8);
    }
    a{
      text-decoration:none;
      color: #000;
    }
    .active{
      background:#666;
      background: rgba(0,0,0, 0.5);
      // color: #fff;
    }
  }
}

.paragon-intro {
  height: 80px;
  padding-top: 8px;
  background-color: $white;
  z-index: 550;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.4);
  h1 {
    font-weight: 200;
    letter-spacing: 1.2px;
    font-size: 2.5rem;
  }
}

div.solutions {
  height: 100%;
  p {text-align: center;}
  a {
    text-decoration: none;
    font-weight: 700;
  }
  .footer {
    p { text-align: left;}
    a {
    font-weight: inherit;
    color: white;
      &.disabled {
        color: inherit;
      }
    }
  }
}

// .bl-main {
//   position: absolute;
//   width: 100%;
//   height: 85%;
//   section {
//     position: absolute;
//     width: 50%;
//     height: 50%;
//   }
// }
.bl-main {
  position: absolute;
  width: 100%;
  height: 85%;
  .solution {
    position: absolute;
    width: 50%;
    height: 50%;
  }
}

.solution1 {
  background-color: $brand-primary;
  top: 0;
  left: 0;
}

.solution2 {
  background: $brand-secondary;
  top: 0;
  left: 50%;
}

.solution3 {
  background-color: $brand-accent1;
  top: 50%;
  left: 0;
}

.solution4 {
  background: $brand-accent2;
  top: 50%;
  left: 50%;
}

#solution1 {background: $brand-primary;}

#solution2 {background: $brand-secondary;}

#solution3 {background: $brand-accent1;}

#solution4 {background: $brand-accent2;}

// .bl-main > section {
//   &:first-child {
//     top: 0;
//     left: 0;
//   }
//   &:nth-child(2) {
//     top: 0;
//     left: 50%;
//   }
//   &:nth-child(3) {
//     top: 50%;
//     left: 0;
//   }
//   &:nth-child(4) {
//     top: 50%;
//     left: 50%;
//   }
// }

// .section {
//   &:first-child {
//     background-color: $brand-primary;
//   }
//   &:nth-child(2) {
//     background-color: $brand-secondary;
//   }
//   &:nth-child(3) {
//     background-color: $brand-accent1;
//   }
//   &:nth-child(4) {
//     background-color: $brand-accent2;
//   }
// }

.bl-box {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 1;
  // Centering with flexbox
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  h2 {
    text-align: center;
    margin: 0;
    padding: 20px;
    width: 100%;
    font-size: 1.6rem;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
    color: $text-color;
  }
  a { color: $text-color;}
}

.bl-icon {
  text-transform: none;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  &:before {
    display: block;
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
}

.bl-icon-1-ux:before {
  content: url('/images/icons/1-good-ux.png');
}

.bl-icon-2-customize:before {
  content: url('/images/icons/2-customize.png');
}

.bl-icon-3-implement:before {
  content: url('/images/icons/3-implement.png');
}

.bl-icon-4-save:before {
  content: url('/images/icons/4-save.png');
}

.bl-icon-cloud:before {
  content: url('/images/icons/cloud1.png');
}

.bl-icon-close:before {
  content: url('/images/cross-dark.png');
}

.bl-icon-customize:before {
  content: url('/images/icons/customization.png');
}

.bl-icon-install:before {
  content: url('/images/icons/installation.png');
}

.bl-icon-conversion:before {
  content: url('/images/icons/conversions.png');
}

.bl-icon-training:before {
  content: url('/images/icons/training.png');
}

.bl-icon-hardware:before {
  content: url('/images/icons/hardware.png');
}

.bl-icon-software:before {
  content: url('/images/icons/software.png');
}

.bl-icon-services:before {
  content: url('/images/icons/services.png');
}

.bl-icon-validate:before {
  content: url('/images/icons/validation.png');
}

.bl-icon-filter:before {
  content: url('/images/icons/list-filtering.png');
}

.bl-icon-workflow:before {
  content: url('/images/icons/workflow.png');
}

.bl-icon-implement:before {
  content: url('/images/icons/implementations.png');
}

.bl-icon-back {
  display: inline;
  opacity: 1;
  position: fixed;
  top: 80px;
  right: 30px;
  cursor: pointer;
  height: 50px;
  margin: 15px;
  z-index: 50;
}

span .bl-icon {
  height: 50px;
}

// .close-icon {
//   cursor: pointer;
//   right: 20px;
//   height: 50px;
//   margin: 15px;
//   z-index: 50;
// }

div#solution {
  &.section.active {
    .backUp {
      opacity: 1;
    }
  }
}
.slide {
  &.active {
    nav.bl-icon-back {
      visibility: visible;
    }
  }
}

// CLOSE ICON STYLES
div.bl-panel-items {
  &.bl-panel-items-show nav {
    opacity: 1;
    right: 0;
    top: 150px;
  }
  nav {
    position: fixed;
    z-index: 90;
    width: 70px;
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-in-out 0.5s;
    -moz-transition: opacity 0.2s ease-in-out 0.5s;
    transition: opacity 0.2s ease-in-out 0.5s;
  }
}

.bl-content {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  padding: 60px 20px 20px;
  overflow: hidden;
  overflow-y: auto;
  h2 {
    font-size: 2.5em;
    font-weight: 300;
    margin: 0 0 15px 0;
    text-align: center;
  }
  > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      margin: 1%;
    }
  }
}

.bl-read {
    font-size: 1.2rem;
    font-weight: 300;
    padding-bottom: 15px;
    &-fr {
      font-size: 1rem
    }
    &.smaller {
      font-size: 80%;
      line-height: 2em;
      padding-bottom: 0;
    }
  }

.panel-content {
  width: 100%;
  // text-align: center;
  .jumbotron {
    background-color: transparent;
  }
}

div.bl-panel-items > {
  div > div {
    opacity: 0;
    padding: 15px;
    pointer-events: none;
    overflow: hidden;
    overflow-y: auto;
  }
  [data-panel="panel-1"], [data-panel="panel-2"], [data-panel="panel-3"] {
    background-color: $light-blue;
  }
  [data-panel="panel-4"], [data-panel="panel-5"], [data-panel="panel-6"] {
    background-color: $light-orange;
  }
  [data-panel="panel-7"], [data-panel="panel-8"], [data-panel="panel-9"], [data-panel="panel-10"] {
    background-color: $light-accent1;
  }
  [data-panel="panel-11"], [data-panel="panel-12"], [data-panel="panel-13"] {
    background-color: $light-accent2;
  }
}

// Custom content
// Panel Items
div.bl-panel-items {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0;
  position: absolute;
  > div {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    position: absolute;
    padding: 30px 20px;
    > div {
      @include vertical-align;
      margin: 0 auto;
      opacity: 1;
      pointer-events: auto;
    }
    h3 {
      font-size: 2.2em;
      font-weight: 300;
      margin-bottom: 15px;
      text-align: center;
    }
  }
}


.slide h3 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 15px;
  text-align: center;
}


button.panel-btn {
  &:nth-child(3) {
    background: $light-accent1;
  }
  &:hover button.panel-btn:focus {
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
  }
}


div.bl-panel-items {
  top: 100%;
  z-index: 90;
  > div > div img {
    max-width: 90%;
  }
}

div.bl-panel-items {
  > .panel-content {
    @include transform(0);
    @include transition(0.5s);
    //background: #FFF;
    z-index: 0;
    opacity: 0;
  }
  &.bl-panel-items-show nav {
    opacity: 1;
  }
  > .panel-content {
    &.bl-show-work {
      z-index: 80;
      opacity: 1;
      transform: translateY(-100%);
      transition: transform 0.5s ease-in-out;
    }
    &.bl-hide-current-work {
      opacity: 0;
      transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
      transform: translateY(-100%) scale(0.5);
      z-index: 0;
    }
  }
}


// Transition classes and properties
// Separated for a better overview and control

.bl-main > section {
  transition: all 0.5s ease-in-out;
}

.bl-content .jumbotron {
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 15px;
  background: transparent;
}

.bl-main {
  > section {
    &.bl-expand {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    &.bl-expand-top {
      z-index: 50;
    }
    &:first-child.bl-expand {
      background: $brand-primary;
    }
    &:nth-child(2).bl-expand {
      background: $brand-secondary;
    }
    &:nth-child(3).bl-expand {
      background: $brand-accent1;
    }
    &:nth-child(4).bl-expand {
      background: $brand-accent2;
    }
  }
  &.bl-expand-item > section {
    &:not(.bl-expand), &.bl-scale-down {
      transform: scale(0.5);
      opacity: 0;
    }
  }
}

.bl-box {
  transition: opacity 0.2s linear 0.5s;
}

section.bl-expand .bl-box {
  opacity: 0;
  transition: opacity 0s linear;
}

.bl-box h2 {
  transition: all 0.2s ease-in-out;
}

.bl-box:hover h2 {
  transform: translateY(-15px);
}

.bl-content, .bl-icon-close {
  transition: opacity 0.1s linear 0s;
}

section.bl-expand {
  .bl-content, .bl-icon-close {
    pointer-events: auto;
    opacity: 1;
    transition: opacity 0.3s linear 0.5s;
  }
}
